# Homework 2: Discovery of Frequent Itemsets and Association Rules

#### Team Members: Noel Karlsson Johansson, Alexander Olsson

### Instructions:
1. Download the dataset from the link on canvas
2. Place the file in any directory you want
3. Rename the file to transactions.dat
4. Change the path in the code below to the path of the file i.e the variable called SETTINGS
5. Place the classes.py in the same directory as the main.ipynb file
6. Install the packages in the requirements.txt file
7. Run the code

In [1]:
from classes import *

In [2]:
SETTINGS = {
    'data_path': '../data/transactions.dat',
    'min_support': 0.01,
    'min_confidence': 0.5,
    'n': 100000
}

### Load dataset

In [3]:
dataset = Dataset(SETTINGS['data_path'], SETTINGS['n'])
print(len(dataset.data))

870

### Task 1: A-priori Algorithm

In [4]:
apriori = Apriori(dataset.data, min_support=SETTINGS['min_support'], n = SETTINGS['n'], parallel=False)
df_frequent_sets, frequent_sets = apriori()

In [5]:
df_frequent_sets

            Itemset Support
0                25    1395
1                52    1983
2               240    1399
3               274    2628
4               368    7828
..              ...     ...
381      (722, 390)    1042
382      (217, 346)    1336
383      (829, 789)    1194
384      (789, 829)    1194
385  (704, 825, 39)    1035

[386 rows x 2 columns]

### Task 2: Association Rules

In [6]:
association_rule = AssociationRule(frequent_sets, min_confidence=SETTINGS['min_confidence'], n = SETTINGS['n'])
rules = association_rule()

In [7]:
rules

            A          B  Confidence  Interest
0         704        825       0.614     0.583
1         704         39       0.617     0.574
2         227        390       0.577     0.550
3         704  (825, 39)       0.577     0.565
4  (704, 825)         39       0.939     0.897
5   (704, 39)        825       0.935     0.904
6   (825, 39)        704       0.872     0.854